.dorama {
    font-size: 30px;
    color: rgb(227, 13, 191);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.firstLine {
    font-size: 15px;
    color: rgb(246, 219, 45);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.secondLine {
    font-size: 15px;
    color: rgb(79, 208, 231);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

