.history {
    font-size: 30px;
    color: rgb(247, 69, 75);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.image {
    width: 500px;
    height: 250px;
    margin: 15px;
}

.firstLine {
    font-size: 15px;
    color: rgb(93, 91, 245);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.secondLine {
    font-size: 15px;
    color: rgb(79, 208, 231);
    text-align: center;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.body {
    height: 300px;
}
